body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}

h3 {
    color: #929CA4;
    border-bottom: 1px;

}

p:first-of-type::first-letter {
    font-size: 30px;
}

.solution{
    color: #CC1C0D;
    font-weight: bold ;
}

#testimonial1, #testimonial2 {
    font-style: italic;
    margin-left: 50px;
}

a[href^='http']:link{
    color:green;
    text-decoration: solid;
}

a[href^='http']:visited{
    color:yellow;
    text-decoration: dashed;
}

a[href^='http']:hover{
    color: purple;
    text-decoration: underline;
}

a[href^='http']:active{
    color: blue;
    text-decoration: double;
}

ul {
    list-style-type: none;
}

ul li:first-of-type {
    color: blue;
}

ul li:last-of-type {
    color: red;
}